In [37]:
import os
import pandas as pd
import numpy as np

In [70]:
path = os.getcwd()

In [79]:
file_path = os.path.join(path, 'submission_model_7_prob.csv')
#file_path = '/home/sks/COMPETITION/DACON/computer_vision2/dataset/dirty_mnist_2nd_answer.csv'

In [80]:
probs = pd.read_csv(file_path)
probs.head(3)

   index  a  b  c  d  e  f  g  h  i  ...  q  r  s  t  u  v  w  x  y  z
0      0  1  1  0  1  0  1  0  0  0  ...  0  1  1  0  1  0  0  1  1  1
1      1  1  0  0  1  0  1  0  1  0  ...  0  1  0  1  0  0  0  0  1  1
2      2  0  0  0  0  0  0  0  0  1  ...  0  0  1  1  1  0  1  1  1  0

[3 rows x 27 columns]

In [81]:
counts = []
for i in range(len(probs)):
    labels = probs.iloc[i, 1:].values
    label_sum = sum(labels)
    counts.append(label_sum)

In [52]:
fin_labels = []

for i in range(len(probs)):
    
    A = probs.iloc[i, 1:].values
    
    sum_labels = sum(A >= 0.5)
    if sum_labels >= 10 and sum_labels <= 14:
        A = np.where(A >= 0.5, 1, 0)
        fin_labels.append(A)
    elif sum_labels < 10:
        one_index = np.argsort(-A)[:10]
        zero_index = np.argsort(-A)[10:]
        A[one_index] = 1
        A[zero_index] = 0
        fin_labels.append(A)
    else:
        one_index = np.argsort(-A)[:14]
        zero_index = np.argsort(-A)[14:]
        A[one_index] = 1
        A[zero_index] = 0
        fin_labels.append(A)

In [58]:
fin_probs = np.array(fin_labels)

In [59]:
probs.iloc[:, 1:] = fin_probs

In [61]:
probs.iloc[:, 1:] = probs.iloc[:, 1:].astype(int)

In [62]:
probs.iloc[:5, :]

   index  a  b  c  d  e  f  g  h  i  ...  q  r  s  t  u  v  w  x  y  z
0  50000  1  0  1  0  1  1  0  1  1  ...  0  0  0  1  1  0  0  1  0  1
1  50001  0  0  0  0  1  0  1  0  1  ...  0  1  0  0  1  1  1  0  0  0
2  50002  0  0  1  1  1  0  1  0  1  ...  0  1  1  0  1  0  1  0  0  1
3  50003  1  1  0  1  0  1  1  0  0  ...  0  0  0  1  0  0  0  1  0  1
4  50004  0  0  1  0  1  1  0  0  0  ...  1  0  1  1  1  0  1  0  0  0

[5 rows x 27 columns]

In [65]:
# save
probs.to_csv(os.path.join(path, 'submission_model_8_kkom.csv'), index=False)

In [67]:
counts = []
for i in range(len(probs)):
    labels = probs.iloc[i, 1:].values
    label_sum = sum(labels)
    counts.append(label_sum)